/* ProductTable.css */
.table-responsive {
  padding-bottom: 50px; /* Add padding for the pagination */
  position: relative; /* Ensure the pagination stays within this element */
}

.pagination-controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
